.login__page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/backgrounds/blob-scene-haikei.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-light);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.306);
    width: 90%;
    max-width: 400px;
    height: 600px;
}

.login__input{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 0.5rem;

}

.login__field {
    background-color: var(--clr-gray);
    letter-spacing: 0.03rem;
    color: var(--clr-secondary);
    margin-bottom: 1rem;

}

.login__btn{
    width: 100%;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    letter-spacing: 0.01rem;
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    font-weight: 600;
    transition: background-color 0.3s ease;
    border-radius: 6px;
}

.login__btn:hover{
    background-color: var(--clr-main);
}

.login__register{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.login__logo{
    margin-bottom: 1.5rem;
}

.login__title{
   
    color: var(--clr-main);
}


