.video-carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap:1rem;
}

.video-carousel {
  width: 100%;
  max-width: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
}

.nav-button {
  background-color: transparent;
  border: none;
  font-size: 3.5rem;
  cursor: pointer;
  color: var(--clr-light);
  padding: 0 1rem;
  transition: color 0.2s ease-in-out;
}

.nav-button:hover {
  color: var(--clr-secondary);
}
