.grid {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(calc(16rem + 2rem), 1fr));
    gap: 2rem;
}

@media (min-width: 1280px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(calc(22rem + 2rem), 1fr));
    }
}