.card {
    height: 10rem;
    width: 18rem;
    background-color: var(--clr-light);
    border-radius: 1rem;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.332);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.card__image {
    width: 35%;
    height: 100%;
    background-color: var(--clr-dark);
    border-radius: 1rem 0 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover
}


.card__content {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.card__title  {
    font-size: 1rem;
    font-weight: 600;
    color: var(--clr-main);
    flex-grow: 0;
}

.card__description {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.8rem;

}
.card__description p {
    color: var(--clr-dark);
    text-align: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
}


@media (min-width: 1280px) {
    .card {
        height: 12rem;
        width: 22rem;
        background-color: var(--clr-light);
        border-radius: 1rem;
        box-shadow: 0 0 3rem rgba(0, 0, 0, 0.332);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        transition: transform 0.3s ease-in-out;
    }
    .card:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
    
    .card__image {
        width: 35%;
        height: 100%;
        background-color: var(--clr-dark);
        border-radius: 1rem 0 0 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        object-fit: cover
    }
    
    
    .card__content {
        margin: 1rem;
    
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    .card__title  {
        font-size: 1.2rem;
        font-weight: 600;
        color: var(--clr-main);
        flex-grow: 0;
    }
    
    .card__description {
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 1rem;
    }
    .card__description p {
        font-size: 1rem;
        color: var(--clr-dark);
        text-align: left;
        overflow-wrap: break-word;        
    }
  }

