.sidebar {
    padding: 1rem;

}

.instructions{
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.module-item {
  background: var(--clr-light);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.module-item.active {
    border: 0.3rem solid var(--clr-secondary);
}

.golden-txt{
    color: var(--clr-secondary);
}