.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--clr-light);
    border-radius: 0.5rem;
    border: 0.3rem solid var(--clr-gray);
    margin-bottom: 1rem;
}

.toolbar-icon {
    height: 1.5rem;
    width: 1.5rem;
    color: var(--clr-darker);
}

.toolbar-icon:active{
    background-color: var(--clr-gray);
}

/* This is the rich text editor */

.editor-content-wrapper {
    border-radius: 4px;
    padding: 10px;
    max-height: 40vh;
    padding-top: 1rem;
        color: var(--clr-darker)

}


/* tip tap editor */
.tiptap-editor {
    background: var(--clr-light);
    border-radius: 0.5rem;
    height: 43vh;
    overflow-y: auto;
    padding: 1rem;
}

.editor-content {
    min-height: 180px;
    outline: none;
    color: var(--clr-darker)
}

.editor-content p,
.editor-content h1,
.editor-content h2,
.editor-content h3,
.editor-content h4,
.editor-content h5,
.editor-content h6,
.editor-content li,
.editor-content a {
    color: var(--clr-darker) !important;
}




