.specific-lesson{
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 1rem;
    align-items: center;
}

.content-container{
    max-height: 70vh;
    overflow-y: auto;
}

.lesson-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
}

.video-container{
   margin-bottom: 1rem;
}
.lesson-content{
    margin-bottom: 1rem;
}

.subtitle{
    color: var(--clr-light);
}