.register__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-light);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.306);
    width: 90%;
    max-width: 800px;
    height: 600px;
}

.register__formColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

}

.register__form{
    display: block;
    margin-left: 1.5rem;
    width: 50%;
    height: 100%;
    overflow-y: auto;
}

.register__select{
    letter-spacing: 0.03rem;
    margin-bottom: 1rem;
    width: 100%;
    background-color: var(--clr-gray);
    color: var(--clr-secondary);
}

.register__selectContainer{
        display: flex;
        flex-direction: column;
}